html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
}

video {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1.5s ease;
  display: block;
}