/* Full black background */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;  /* ensures complete black void */
}

/* Hey video half size */
#heyVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;        /* half screen size */
  height: auto;
  transform: translate(-50%, -50%);
}